@import 'variables';

/** Common **/

.#{$block}_theme_minimal {
    font-size: $base-font-size;

    .#{$block}__closer {
        font-weight: $large-font-weight;
        color: $grey;

        &:hover {
            color: $dark-grey;
        }
    }

    .#{$block}__closer-count {
        background: $success-bg-color;
        color: $white;
        border-radius: $small-border-radius;
        font-weight: $large-font-weight;
    }

    .#{$block}__notification {
        background-color: $white;
        color: $dark-grey;
    }

    .#{$block}__notification-progress {
        background-color: $darken-6;
    }

    .#{$block}__notification-outer {
        padding: $small-padding;
    }

    .#{$block}__notification-icon {
        margin: 0 12px 0 0;
    }

    .#{$block}__notification-close {
        background-color: transparent;
        color: inherit;
        border-radius: 50%;

        &:hover {
            outline: none;
            text-decoration: none;
            background: $darken-5;
        }
    }

    .#{$block}__notification-content {
        line-height: $large-line-height;
        font-weight: $base-font-weight;
    }

    .#{$block}__notification_type_success {
        background-color: $white;
        color: $success-color;

        .#{$block}__notification-progress-inner {
            background-color: $success-progress-color;
        }

        .#{$block}__notification-icon {
            svg {
                fill: $success-color;
            }
        }
    }

    .#{$block}__notification_type_info,
    .#{$block}__notification_type_notice {
        color: $info-color;

        .#{$block}__notification-progress-inner {
            background-color: $info-progress-color;
        }

        .#{$block}__notification-icon {
            svg {
                fill: $info-color;
            }
        }
    }

    .#{$block}__notification_type_warning {
        color: $warning-color;

        .#{$block}__notification-progress-inner {
            background-color: $warning-progress-color;
        }

        .#{$block}__notification-icon {
            svg {
                fill: $warning-color;
            }
        }
    }

    .#{$block}__notification_type_error {
        color: $error-color;

        .#{$block}__notification-progress-inner {
            background-color: $error-progress-color;
        }

        .#{$block}__notification-icon {
            svg {
                fill: $error-color;
            }
        }
    }

    .#{$block}__notification_type_default {
        color: $dark-grey;

        .#{$block}__notification-progress-inner {
            background-color: $lighter-grey;
        }

        .#{$block}__notification-icon {
            svg {
                fill: $dark-grey;
            }
        }
    }
}

/** Panel layout **/

.#{$block}_layout_panel {
    &.#{$block}_theme_minimal {
        background-color: $panel-bg-color;
        border-radius: $base-border-radius;
        box-shadow: $light-shadow;

        .#{$block}__header {
            background-color: $lighter2-grey;
        }

        .#{$block}__header-inner {
            background-color: $header-bg-color;

            &:hover {
                .#{$block}__header-minimize {
                    color: $dark-grey;
                }
            }
        }

        .#{$block}__header-title {
            font-size: $header-font-size;
            font-weight: $large-font-weight;
            color: $grey;
        }

        .#{$block}__header-count {
            background: $info-bg-color;
            color: $white;
            border-radius: $small-border-radius;
            font-weight: $large-font-weight;
        }

        .#{$block}__header-minimize {
            color: $light-grey;
        }

        .#{$block}__notification {
            border-color: $lightest-grey;
            box-shadow: $lighter-shadow;
        }

        .#{$block}__notification-title {
            line-height: $base-line-height;
        }

        .#{$block}__closer {
            font-weight: $large-font-weight;
            color: $grey;

            &:hover {
                color: $dark-grey;
            }
        }
    }
}

/** Popups layout **/

.#{$block}_layout_popups {
    &.#{$block}_theme_minimal {
        .#{$block}__notification {
            box-shadow: $light-shadow;
            border-radius: $base-border-radius;
        }

        .#{$block}__notification-title {
            line-height: $large-line-height;
        }

        .#{$block}__closer {
            background-color: $darker-grey;
            box-shadow: $light-shadow;
            border-radius: $base-border-radius;
            font-weight: $base-font-weight;
            color: $lightest-grey;
            border-color: $darkest-grey;

            &:hover {
                color: $white;
            }
        }
    }
}
