$block: 'polipop';
$base-z-index: 999;

$base-width: 350px;
$panel-width: 400px;
$header-height: 44px;
$progress-height: 4px;

$smaller-line-height: 14px;
$small-line-height: 20px;
$base-line-height: 22px;
$large-line-height: 24px;

$small-font-size: 12px;
$base-font-size: 14px;
$header-font-size: 15px;
$title-font-size: 16px;
$close-font-size: 16px;
$large-font-size: 20px;
$base-font-weight: 400;
$large-font-weight: 600;

$base-icon-size: 20px;

$small-border-radius: 3px;
$base-border-radius: 5px;

$duration: 0.25s;
$easing: ease-in-out;

$vertical-margin: 10px;
$horizontal-margin: 10px;

$small-padding: 12px;
$base-padding: 15px;

$light-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
$lighter-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);

$darken-4: rgba(0, 0, 0, 0.04);
$darken-5: rgba(0, 0, 0, 0.05);
$darken-6: rgba(0, 0, 0, 0.06);
$darken-8: rgba(0, 0, 0, 0.08);
$darken-10: rgba(0, 0, 0, 0.1);
$darken-12: rgba(0, 0, 0, 0.12);
$lighten-15: rgba(255, 255, 255, 0.15);

$white: #ffffff;
$grey: #777777;
$light-grey: #999999;
$lighter-grey: #dddddd;
$lighter2-grey: #e8e8e8;
$lightest-grey: #eeeeee;
$dark-grey: #555555;
$darker-grey: #333333;
$darkest-grey: #222222;

$panel-bg-color: #f2f7fa;
$header-bg-color: #edf4f9;

$success-bg-color: #0ec47d;
$success-border-color: #0ec47d;
$success-color: #0daf71;
$success-border-top-color: #0daf71;
$success-progress-color: #a7dac6;

$info-bg-color: #00b1fe;
$info-border-color: #00b1fe;
$info-color: #009de0;
$info-border-top-color: #009de0;
$info-progress-color: #aadef5;

$warning-bg-color: #ffc107;
$warning-border-color: #ffc107;
$warning-color: #ff8b07;
$warning-border-top-color: #e0aa07;
$warning-progress-color: #f5dd96;

$error-bg-color: #f76860;
$error-border-color: #f76860;
$error-color: #e6554d;
$error-border-top-color: #d64f48;
$error-progress-color: #f8c3c0;
