{
    "extends": ["standard", "prettier"],
    "plugins": ["prettier"],
    "rules": {
        "prettier/prettier": [
            "error",
            {
                "endOfLine": "auto"
            }
        ]
    },
    "env": {
        "browser": true,
        "node": true,
        "jest/globals": true
    },
    "overrides": [
        {
            "files": ["**/*.test.js"],
            "extends": ["plugin:jest/recommended", "plugin:jest/style"]
        }
    ]
}
